.headWrap {
  background-color: rgba(204, 201, 202, 0.84); }

.first-nav, .second-nav {
  display: inline-block; }

ul {
  list-style: none; }
  ul li {
    display: inline-block;
    padding-right: 10px; }

.first-ul {
  list-style: none; }
  .first-ul li {
    display: inline-block;
    padding-right: 10px; }

.second-ul {
  list-style: none; }
  .second-ul li {
    display: inline-block;
    padding-right: 10px; }
  .second-ul img {
    width: 20px;
    border-radius: 6px; }

.dropdown {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  vertical-align: -2px;
  border: 4px solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent; }

.pageWrap {
  width: 1000px;
  margin: 0 auto; }
  .pageWrap .profWrap {
    margin-right: 30px;
    width: 230px;
    display: inline-block; }
    .pageWrap .profWrap img {
      width: 230px;
      border-radius: 6px; }
  .pageWrap .contentWrap {
    width: 730px;
    display: inline-block;
    vertical-align: top; }
    .pageWrap .contentWrap .content-ul {
      list-style: none; }
      .pageWrap .contentWrap .content-ul li {
        vertical-align: top;
        display: inline-block;
        margin: 10px;
        cursor: pointer; }
    .pageWrap .contentWrap .repoList {
      width: 100%; }
    .pageWrap .contentWrap .updateTime {
      display: block;
      margin-top: 10px; }

.pushimg {
  width: 20px;
  border-radius: 6px; }

.rightRepo {
  float: right;
  position: relative;
  bottom: 50px; }

.input-width {
  margin-right: 5px;
  display: inline-block;
  width: 242px; }
